<h1>Create a text</h1>
<form class="text-form" [formGroup]="textForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <mat-label>Text name</mat-label>
        <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Input language</mat-label>
        <input matInput formControlName="inputLanguage" required>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Text</mat-label>
        <textarea cdkTextareaAutosize matInput formControlName="textContent" required></textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!textForm.valid">Save</button>
</form>